extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Algo sobre nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ullam enim dignissimos vero quia assumenda officiis illum quasi sunt animi, optio corporis illo consectetur sint delectus facilis vitae quod! Ratione.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, ullam alias autem expedita numquam ex qui porro aut. Cupiditate inventore impedit mollitia quia harum voluptatem odit corrupti soluta. At, cupiditate?

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque natus fuga eos dolor modi quo soluta explicabo, aliquid voluptas veritatis! Numquam autem amet ea omnis ullam nostrum nulla, debitis iure.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus et doloribus officiis sapiente repellat ipsam eius aperiam id delectus provident soluta non quidem sequi laboriosam mollitia fuga odio, sed asperiores?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus et doloribus officiis sapiente repellat ipsam eius aperiam id delectus provident soluta non quidem sequi laboriosam mollitia fuga odio, sed asperiores?
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus et doloribus officiis sapiente repellat ipsam eius aperiam id delectus provident soluta non quidem sequi laboriosam mollitia fuga odio, sed asperiores?